th {
  background-color:#f3f3f3;
  text-align: center;
}

td {
  border: 1px solid #f3f3f3;
  text-align: center;
}

#post {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 740px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#create-post{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 740px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#post input {
  text-align: center;
}

#create-post input {
  text-align: center;
}

#userId{
  width: 20px;
}

#id{
  width: 25px;
}

#title{
  width: 475px;
}

#completed{
  width: 50px;
}

#create-userId{
  width: 20px;
}

#create-id{
  width: 25px;
}

#create-title{
  width: 475px;
}

#create-completed{
  width: 50px;
}

#closeBtn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

#enter {
   display: none;
}

